In [1]:
%pip install 'polars[pandas,pyarrow]'

Collecting polars[pandas,pyarrow]
  Downloading polars-0.20.9-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (15 kB)
Collecting pyarrow>=7.0.0 (from polars[pandas,pyarrow])
  Downloading pyarrow-15.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Collecting pandas (from polars[pandas,pyarrow])
  Downloading pandas-2.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy<2,>=1.16.6 (from pyarrow>=7.0.0->polars[pandas,pyarrow])
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 846.9 kB/s eta 0:00:0031m1.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/popitich/dev/recommender-systems-course/.venv/lib64/python3.12/site-packages (from pandas->polars[pandas,pyarrow]) (2.8.2)
Collecting pytz>=2020.1 (from pandas->polars[pandas,pyarrow])
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas->polars[pandas,pyarrow])
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/popitich/dev/recommender-systems-course/.venv/lib64/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->polars[pandas,pyarrow]) (1.16.0)
Downloading pyarrow-15.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (38.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.3/38.3 MB 20.8 MB/s eta 0:00:00m eta 0:00:010:01:01
Downloading pandas-2.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 26.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading polars-0.20.9-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.8/26.8 MB 24.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.0/18.0 MB 28.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 11.2 MB/s eta 0:00:00m eta 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 10.6 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, polars, numpy, pyarrow, pandas
Successfully installed numpy-1.26.4 pandas-2.2.0 polars-0.20.9 pyarrow-15.0.0 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import polars as pl

In [3]:
df = pl.read_csv("HW1-data.csv")
display(df)

shape: (20, 22)
┌──────┬─────────────┬────────────┬────────────┬───┬────────────┬────────┬────────────┬────────────┐
│ User ┆ Gender (1   ┆ 260: Star  ┆ 1210: Star ┆ … ┆ 527: Schin ┆ 2762:  ┆ 1198:      ┆ 34: Babe   │
│ ---  ┆ =F, 0=M)    ┆ Wars:      ┆ Wars:      ┆   ┆ dler's     ┆ Sixth  ┆ Raiders of ┆ (1995)     │
│ i64  ┆ ---         ┆ Episode IV ┆ Episode VI ┆   ┆ List       ┆ Sense, ┆ the Lost   ┆ ---        │
│      ┆ i64         ┆ - A N…     ┆ - Re…      ┆   ┆ (1993)     ┆ The    ┆ Ark (1…    ┆ i64        │
│      ┆             ┆ ---        ┆ ---        ┆   ┆ ---        ┆ (1999) ┆ ---        ┆            │
│      ┆             ┆ i64        ┆ i64        ┆   ┆ i64        ┆ ---    ┆ i64        ┆            │
│      ┆             ┆            ┆            ┆   ┆            ┆ i64    ┆            ┆            │
╞══════╪═════════════╪════════════╪════════════╪═══╪════════════╪════════╪════════════╪════════════╡
│ 755  ┆ 0           ┆ 1          ┆ 5          ┆ … ┆ 2          ┆ 5      ┆ null       ┆ null       │
│ 5277 ┆ 0           ┆ 5          ┆ 3          ┆ … ┆ 5          ┆ 1      ┆ 3          ┆ null       │
│ 1577 ┆ 1           ┆ null       ┆ null       ┆ … ┆ 2          ┆ 3      ┆ 1          ┆ 3          │
│ 4388 ┆ 0           ┆ null       ┆ 3          ┆ … ┆ 5          ┆ 1      ┆ 1          ┆ 2          │
│ 1202 ┆ 1           ┆ 4          ┆ 3          ┆ … ┆ 5          ┆ 5      ┆ null       ┆ null       │
│ …    ┆ …           ┆ …          ┆ …          ┆ … ┆ …          ┆ …      ┆ …          ┆ …          │
│ 4796 ┆ 1           ┆ null       ┆ null       ┆ … ┆ 2          ┆ 4      ┆ 3          ┆ 4          │
│ 6037 ┆ 0           ┆ null       ┆ null       ┆ … ┆ null       ┆ null   ┆ null       ┆ null       │
│ 3048 ┆ 1           ┆ 4          ┆ 5          ┆ … ┆ 2          ┆ 1      ┆ 2          ┆ 5          │
│ 4790 ┆ 0           ┆ 5          ┆ 1          ┆ … ┆ null       ┆ null   ┆ null       ┆ null       │
│ 4489 ┆ 0           ┆ 1          ┆ 2          ┆ … ┆ 3          ┆ 5      ┆ 3          ┆ null       │
└──────┴─────────────┴────────────┴────────────┴───┴────────────┴────────┴────────────┴────────────┘

### Assignment 1: Top Movies by Mean Rating

In [4]:
df = pl.read_csv("HW1-data.csv")

df.select(pl.exclude("User").exclude("^Gender.*?$")).mean().transpose(
    include_header=True, header_name="name", column_names=["mean"]
).sort("mean", descending=True).head(3)

shape: (3, 2)
┌───────────────────────────────────┬──────────┐
│ name                              ┆ mean     │
│ ---                               ┆ ---      │
│ str                               ┆ f64      │
╞═══════════════════════════════════╪══════════╡
│ 318: Shawshank Redemption, The (… ┆ 3.6      │
│ 260: Star Wars: Episode IV - A N… ┆ 3.266667 │
│ 541: Blade Runner (1982)          ┆ 3.222222 │
└───────────────────────────────────┴──────────┘

### Assignment 1: Top Movies by Mean Count

In [40]:
df = pl.read_csv("HW1-data.csv")

df.select(pl.exclude("User").exclude("^Gender.*?$")).count().transpose(
    include_header=True, header_name="name", column_names=["count"]
).sort("count", descending=True).head(3)

shape: (3, 2)
┌───────────────────────────────────┬───────┐
│ name                              ┆ count │
│ ---                               ┆ ---   │
│ str                               ┆ u32   │
╞═══════════════════════════════════╪═══════╡
│ 1: Toy Story (1995)               ┆ 17    │
│ 593: Silence of the Lambs, The (… ┆ 16    │
│ 260: Star Wars: Episode IV - A N… ┆ 15    │
└───────────────────────────────────┴───────┘

### Assignment 1: Top Movies by Percent Liking

In [9]:
df = pl.read_csv("HW1-data.csv")

df.select(pl.exclude("User").exclude("^Gender.*?$")).transpose(
    include_header=True, header_name="name"
).melt("name", value_name="rating").with_columns(
    [
        (pl.col("rating") >= 4).alias("4+"),
        (pl.col("rating").is_not_null()).alias("not_empty_rating"),
    ]
).group_by("name").agg((pl.sum("4+") / pl.sum("not_empty_rating")).alias("4+ %")).sort(
    "4+ %", descending=True
).head(3)

shape: (3, 2)
┌───────────────────────────────────┬──────────┐
│ name                              ┆ 4+ %     │
│ ---                               ┆ ---      │
│ str                               ┆ f64      │
╞═══════════════════════════════════╪══════════╡
│ 318: Shawshank Redemption, The (… ┆ 0.7      │
│ 260: Star Wars: Episode IV - A N… ┆ 0.533333 │
│ 3578: Gladiator (2000)            ┆ 0.5      │
└───────────────────────────────────┴──────────┘

### Assignment 1: Association with Toy Story

In [11]:
df = pl.read_csv("HW1-data.csv")

toy_story_raters = df.select(
    pl.col("^.*Toy Story.*$").alias("rate"), pl.col("User")
).filter(pl.col("rate").is_not_null())

df.select(pl.exclude("^Gender.*?$")).melt(
    "User", value_name="rate", variable_name="name"
).join(toy_story_raters, on="User", how="left", suffix="_toy_story").with_columns(
    [
        (pl.col("rate_toy_story").is_not_null() & pl.col("rate").is_not_null()).alias(
            "both"
        ),
        (pl.col("rate_toy_story").is_not_null()).alias("only_toy_story"),
    ]
).group_by("name").agg(
    pl.sum("both").alias("both"),
    pl.sum("only_toy_story").alias("only_toy_story"),
).select(
    pl.col("name"), (pl.col("both") / pl.col("only_toy_story")).alias("assoc")
).sort("assoc", descending=True).head(5)

shape: (5, 2)
┌───────────────────────────────────┬──────────┐
│ name                              ┆ assoc    │
│ ---                               ┆ ---      │
│ str                               ┆ f64      │
╞═══════════════════════════════════╪══════════╡
│ 1: Toy Story (1995)               ┆ 1.0      │
│ 260: Star Wars: Episode IV - A N… ┆ 0.823529 │
│ 780: Independence Day (ID4) (199… ┆ 0.764706 │
│ 1210: Star Wars: Episode VI - Re… ┆ 0.764706 │
│ 593: Silence of the Lambs, The (… ┆ 0.764706 │
└───────────────────────────────────┴──────────┘

### Assignment 1: Correlation with Toy Story

In [6]:
df = pl.read_csv("HW1-data.csv")

# The polars corr function uses numpy.corrcoef, which doesn't skip nulls.
# This difference in results from the CORREL Excel function means that the values don't pass Coursera's checks.
# The corr implementation in pandas and Excel seems the same. So, I need to change the polars frame to pandas, calculate corr, and then change it back again.
corr_matrix_df = df.select(pl.exclude("User").exclude("^Gender.*?$")).to_pandas().corr()

pl.concat(
    [
        df.select(pl.exclude("User").exclude("^Gender.*?$"))
        .transpose(include_header=True, header_name="name")
        .select("name"),
        pl.from_pandas(corr_matrix_df).select(
            pl.col("1: Toy Story (1995)").alias("corr_toy_story")
        ),
    ],
    how="horizontal",
).sort("corr_toy_story", descending=True).head(4)

shape: (4, 2)
┌───────────────────────────────────┬────────────────┐
│ name                              ┆ corr_toy_story │
│ ---                               ┆ ---            │
│ str                               ┆ f64            │
╞═══════════════════════════════════╪════════════════╡
│ 1: Toy Story (1995)               ┆ 1.0            │
│ 318: Shawshank Redemption, The (… ┆ 0.888523       │
│ 34: Babe (1995)                   ┆ 0.811107       │
│ 296: Pulp Fiction (1994)          ┆ 0.709842       │
└───────────────────────────────────┴────────────────┘

### Assignment 1: Male-Female Differences in Average Rating

In [12]:
df = pl.read_csv("HW1-data.csv")

mean_stats_df = (
    df.select(pl.exclude("User"))
    .rename({"Gender (1 =F, 0=M)": "gender"})
    .melt("gender", value_name="rating", variable_name="name")
    .group_by(["gender", "name"])
    .agg(pl.mean("rating").alias("mean"))
)

male_mean_stats_df = mean_stats_df.filter(pl.col("gender") == 0).sort(
    "mean", descending=True
)
female_mean_stats_df = mean_stats_df.filter(pl.col("gender") == 1).sort(
    "mean", descending=True
)

diff_df = male_mean_stats_df.join(female_mean_stats_df, on="name", how="inner").select(
    "name", (pl.col("mean") - pl.col("mean_right")).alias("diff")
)

# Male over Female
display(diff_df.sort("diff", descending=True).head(3))

# Female over Male
display(
    diff_df.select(pl.col("name"), pl.col("diff") * -1)
    .sort("diff", descending=True)
    .head(3)
)

display(
    df.select(pl.exclude("User"))
    .rename({"Gender (1 =F, 0=M)": "gender"})
    .melt("gender", value_name="rating", variable_name="name")
    .group_by("gender")
    .agg(pl.mean("rating").alias("overall_mean"))
    .sort("gender", descending=True)
    .select(pl.first("overall_mean") - pl.last("overall_mean"))
)

shape: (3, 2)
┌───────────────────────────────────┬──────────┐
│ name                              ┆ diff     │
│ ---                               ┆ ---      │
│ str                               ┆ f64      │
╞═══════════════════════════════════╪══════════╡
│ 1198: Raiders of the Lost Ark (1… ┆ 1.666667 │
│ 527: Schindler's List (1993)      ┆ 1.0      │
│ 2571: Matrix, The (1999)          ┆ 0.742857 │
└───────────────────────────────────┴──────────┘

shape: (3, 2)
┌──────────────────────────────────┬──────────┐
│ name                             ┆ diff     │
│ ---                              ┆ ---      │
│ str                              ┆ f64      │
╞══════════════════════════════════╪══════════╡
│ 2396: Shakespeare in Love (1998) ┆ 2.107143 │
│ 34: Babe (1995)                  ┆ 1.428571 │
│ 296: Pulp Fiction (1994)         ┆ 1.375    │
└──────────────────────────────────┴──────────┘

shape: (1, 1)
┌──────────────┐
│ overall_mean │
│ ---          │
│ f64          │
╞══════════════╡
│ 0.041857     │
└──────────────┘

### Assesment 1: Male-Female differences in Liking

In [91]:
df = pl.read_csv("HW1-data.csv")


def count_if(series):
    return sum(x >= 4 for x in series)


stats_df = (
    df.select(pl.exclude("User"))
    .rename({"Gender (1 =F, 0=M)": "gender"})
    .melt("gender", value_name="rating", variable_name="name")
    .with_columns((pl.col("rating") >= 4).alias("4+"))
    .with_columns((pl.col("rating").is_not_null()).alias("not_empty"))
    .group_by(["name", "gender"])
    .agg((pl.sum("4+") / pl.sum("not_empty")).alias("4+ %"))
)

male_stats_df = stats_df.filter(pl.col("gender") == 0).sort("4+ %", descending=True)
female_stats_df = stats_df.filter(pl.col("gender") == 1).sort("4+ %", descending=True)

diff_df = male_stats_df.join(female_stats_df, on="name", how="inner").select(
    "name", (pl.col("4+ %") - pl.col("4+ %_right")).alias("diff")
)

# Male over Female
display(diff_df.sort("diff", descending=True).head(3))

# Female over Male
display(
    diff_df.select(pl.col("name"), pl.col("diff") * -1)
    .sort("diff", descending=True)
    .head(3)
)

shape: (3, 2)
┌───────────────────────────────────┬──────────┐
│ name                              ┆ diff     │
│ ---                               ┆ ---      │
│ str                               ┆ f64      │
╞═══════════════════════════════════╪══════════╡
│ 1198: Raiders of the Lost Ark (1… ┆ 0.5      │
│ 2571: Matrix, The (1999)          ┆ 0.371429 │
│ 527: Schindler's List (1993)      ┆ 0.333333 │
└───────────────────────────────────┴──────────┘

shape: (3, 2)
┌──────────────────────────────────┬──────────┐
│ name                             ┆ diff     │
│ ---                              ┆ ---      │
│ str                              ┆ f64      │
╞══════════════════════════════════╪══════════╡
│ 2396: Shakespeare in Love (1998) ┆ 0.75     │
│ 34: Babe (1995)                  ┆ 0.571429 │
│ 541: Blade Runner (1982)         ┆ 0.55     │
└──────────────────────────────────┴──────────┘